In [1]:
import tabula
import camelot
from py4j.java_gateway import JavaGateway

In [2]:
PDF_1 = "../../task_description/examples/GFS 5760519.pdf"
PDF_2 = "../../task_description/examples/sysco PO#_077-2706434.pdf"

PDF_1:
![GFS_5760519_p1](gfs_5760519_page_1.png)
![GFS_5760519_p2](gfs_5760519_page_2.png)

PDF_2:
![PO#_077-2706434_p1](sysco_po#_077-2706434_page_1.png)
![PO#_077-2706434_p2](sysco_po#_077-2706434_page_2.png)

## tabula-py 1.4.1

In [3]:
# tabula-py 1.4.1
df_1 = tabula.read_pdf(PDF_1, stream=True, pages="all")
df_1.head()

     1    1 500G  ... 7.0000   .1108
0  NaN       NaN  ...    NaN     NaN
1  2.0  12 212ML  ...  45.00  0.5867
2  NaN       NaN  ...    NaN     NaN
3  3.0      6 2L  ...  59.64  3.1264
4  NaN       NaN  ...    NaN     NaN

[5 rows x 8 columns]

In [4]:
df_2 = tabula.read_pdf(PDF_2, stream=True, pages="all")
df_2.head()

    1  1  454 GM  QUALFST  181725  ...  1 23.4700  .0000
0   2  1   3.2 KG  FABBRI  150359  ...  2   94.05    0.0
1   3  1  340 GR  ROYALCM  181845  ...  1    6.00    0.0
2   4  1    454 GR  THAIN  257021  ...  8    4.65    0.0
3  5  12  725 ML  GLDNBOY  093025  ...  1   79.80    0.0
4   6  1      5 KGROYALCM  181886  ...  2   38.89    0.0

[5 rows x 8 columns]

## camelot-py 0.8.2

In [5]:
# camelot-py 0.8.2
tables_1 = camelot.read_pdf(PDF_1,
                            flavor="stream",
                            split_text=True,
                            suppress_stdout=True,
                            pages="all")
tables_1[0].df.head(25)

                                                    0
0   PO01A5    TO EMAIL :             VENDOR # :   ...
1                               ORDERS@QUALIFIRST.COM
2   5:12:46                           GORDON FOOD ...
3    PO01A5                           MILTON DIVISION
4   2999 JAMES SNOW PARKWAY                       ...
5   MILTON, ON L9T 5G4                            ...
6   PHONE-  905-864-3700       ------ WAREHOUSE --...
7   VENDOR #:    683600                           ...
8   NAME    :  QUALIFIRST FOODS LTD               ...
9   89 CARLINGVIEW DR.                   **      P...
10  *****************************   ETOBICOKE     ...
11  ETOBICOKE       ON M9W 5E4                    ...
12  PHONE   :   416-244-1177                      ...
13  FAX     :   416-244-1737                      ...
14  LEAD-  4 DAYS  FRT-        /CS      /CW       ...
15  BROKER -                               PHONE- ...
16  SPECIAL P.O. INSTRUCTIONS-                    ...
17                                SEND TO CAPSTONE- Y
18  **********************************************...
19  ____ ____ ____    ________ ____            ___...
20                                                  |
21  1    1 500G    00066958017026 SPICE SESAME SEE...
22                                           | 182050
23  2   12 212ML   01899500212117 PEPPERCORN GRN I...
24                                           | 103000

In [6]:
tables_2 = camelot.read_pdf(PDF_2,
                            flavor="stream",
                            split_text=True,
                            suppress_stdout=True,
                            pages="all")
tables_2[0].df.head(25)

                                                    0
0                                ** PURCHASE ORDER **
1                                  SYSCO PETERBOROUGH
2   ----------------------------------------------...
3                                  SYSCO PETERBOROUGH
4                               SYSCO CENTRAL ONTARIO
5                                     65 ELMDALE ROAD
6                           CAVAN MONAGHAN ON K9J 0G5
7   Phone: 705-748-6701                 Fax: 705-8...
8   ----------------------------------------------...
9   PO Number:   077-2706434                      ...
10  PO Date: 8/06/20                              ...
11                             Delivery Date: 8/11/20
12                              Pick Up Date: 8/10/20
13             Vendor: QUALIFIRST FOODS LTD(14513002)
14                                  89 CARLINGVIEW DR
15                                       ETOBICOKE,ON
16  Phone:  416-244-1177                FAX:   000...
17                               Special Instruction:
18  ----------------------------------------------...
19  Vendor          Item       Item               ...
20  Line Pack Size     Brand          Item#       ...
21  ----------------------------------------------...
22  1  1    454 GM  QUALFST         181725        ...
23  2  1    3.2 KG  FABBRI          150359        ...
24  3  1    340 GR  ROYALCM         181845        ...

## PDFLayoutTextStripper 2.2.3

In [ ]:
# PDFLayoutTextStripper
# https://stackoverflow.com/questions/51334387/unable-to-launch-gateway-from-python-in-py4j
# https://stackoverflow.com/questions/42826221/py4j-how-to-launch-the-java-gateway-from-python
# https://www.py4j.org/py4j_java_gateway.html#examples

gg = (JavaGateway
      .launch_gateway(
          classpath="../../pdf_layout_text_stripper/python-gateway.jar",
          die_on_exit=True
      ))

pdf_stripper = gg.jvm.io.github.jonathanlink.PythonGateway()

In [ ]:
res_1 = pdf_stripper.strip(PDF_1)
str_1 = res_1["payload"].splitlines()
for i in range(30):
    print(str_1[i])

In [ ]:
res_2 = pdf_stripper.strip(PDF_2)
res_2

In [ ]:
gg.close()